<div class="row">
  <div class="col-sm-12">
    <h2>Blog</h2>
    <ul class="list-group">
      <div *ngFor="let post of posts; let i = index">

        <li [ngClass]="{'list-group-item': true,
                  'list-group-item-success': post.loveit > 0,
                  'list-group-item-danger': post.loveit < 0}">
            <h4>{{ post.title }}
              <span class="datepost">{{ post.date | date: 'short'}}</span></h4>
            <p>{{ post.content }}</p>

          <button class="btn btn-success btnpost" 
            (click)="onLike(post)">
            Like
          </button>
          <button class="btn btn-danger btnpost" 
            (click)="onNolike(post)">
            Don't like
          </button>
          <button class="btn btn-danger pull-right deletebtn" (click)="onDeletePost(post)">  
              <span class="glyphicon glyphicon-minus"></span> 
              Supprimer le post 
            </button>  
        </li>

    </div>
  </ul>
</div>